

* {
    box-sizing: border-box;
    
}

h1 {
    text-align: center;  
}

.div {
    position: relative;
}
p {
    background-color: rgb(145, 141, 132);
    border: 1px solid black;
    height: 170px;
   margin-right: 10px;
   padding: 40px 10px 5px 10px;
    overflow: hidden;
}

.h{
    position:absolute;
    top: 0px;
    right: 0px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 35px;
    width: 100px;
    padding: 5px;
    text-align: center;

}

#div1 {
    background-color: rgb(242, 152, 242);
}


#div2 {
    
    background-color: rgb(192, 72, 72);

}

#div3 {
    
    background-color: rgb(226, 141, 101);
    
}

.row{
    width: 100%;
}


/********** Medium devices only *********/
@media (min-width: 992px)  {

    .col-lg-4 {
        width: 33.33%;
        float: left;
        
    }
}

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-4 {
        width: 50%;
        float: left; 
    }

    .col-md-12 {
        width: 100%;
        float: left;

    }
}
/********** Mobile devices only **********/
@media (max-width: 767px) {
   
    .col-sm-12 {
        width: 100%;
        float: left; 
    }
}